:root {
    --black: rgba(20, 20, 20, 1);
    --dark-grey: rgba(31, 31, 31, 1);
    --grey: rgba(51, 51, 51, 1);
    --white: rgba(255, 255, 255, 1);
    --neon-green: rgba(196, 248, 42, 1);
    --body-bold-font-family: "Inter", Helvetica;
    --body-bold-font-weight: 700;
    --body-bold-font-size: 14px;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: 150%;
    --body-bold-font-style: normal;
    --body-regular-font-family: "Inter", Helvetica;
    --body-regular-font-weight: 400;
    --body-regular-font-size: 14px;
    --body-regular-letter-spacing: 0px;
    --body-regular-line-height: 150%;
    --body-regular-font-style: normal;
    --heading-font-family: "Inter", Helvetica;
    --heading-font-weight: 600;
    --heading-font-size: 24px;
    --heading-letter-spacing: 0px;
    --heading-line-height: 150%;
    --heading-font-style: normal;
    --variable-collection-black: rgba(20, 20, 20, 1);
    --variable-collection-dark-grey: rgba(31, 31, 31, 1);
    --variable-collection-grey: rgba(51, 51, 51, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-neon-green: rgba(196, 248, 42, 1);
}
