html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #141414; 
    color: var(--white); 
}


.desktop {
    background-color: transparent; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
    width: 100%;
    max-width: 1440px; 
    padding: 20px; 
    box-sizing: border-box;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    width: 100%;
    max-width: 960px;
    margin: auto; 
    border-radius: 8px; 
    padding: 1rem;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 20px;
    padding: 40px;
    background-color: var(--dark-grey);
    border-radius: 12px;
    box-sizing: border-box;
}

.profile-pic {
    width: 88px;
    height: 88px;
    border-radius: 50%; 
    background-image: url('avatar-jessica.jpeg');
    background-size: cover;
    background-position: center;
}

.name-location {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title {
    width: 100%;
    margin-top: -1px;
    margin-bottom: 1px;
    align-self: stretch;
    text-align: center;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: var(--heading-font-size);
    letter-spacing: var(--heading-letter-spacing);
    line-height: var(--heading-line-height);
    font-style: var(--heading-font-style);
}

.description {
    width: 100%;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 2px;
    align-self: stretch;
    font-family: var(--body-bold-font-family);
    font-weight: var(--body-bold-font-weight);
    color: var(--neon-green);
    font-size: var(--body-bold-font-size);
    letter-spacing: var(--body-bold-letter-spacing);
    line-height: var(--body-bold-line-height);
    font-style: var(--body-bold-font-style);
}
.bio {
    width: 100%; 
    text-align: center;
    font-style: italic; 
    margin-top: -1px;
    margin-bottom: -15px;
    font-family: var(--body-regular-font-family);
    font-weight: var(--body-regular-font-weight);
    font-size: var(--body-regular-font-size);
    letter-spacing: var(--body-regular-letter-spacing);
    line-height: var(--body-regular-line-height);
    font-style: var(--body-regular-font-style);
}

.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style-type: none; 
    padding: 0;
    margin-top: -15px;
    margin-left: -18px;
}

.div-wrapper {
    background-color: var(--grey);
    padding: 12px;
    margin: 15px 0; 
    border-radius: 8px;
    display: flex;
    justify-content: center;
    width: 95%; 
    box-sizing: border-box;
    cursor: pointer;
    font-family: var(--body-bold-font-family);
    font-weight: var(--body-bold-font-weight);
    color: var(--white);
    font-size: var(--body-bold-font-size);
    letter-spacing: var(--body-bold-letter-spacing);
    line-height: var(--body-bold-line-height);
    white-space: nowrap;
    font-style: var(--body-bold-font-style);
}

.div-wrapper:hover, .div-wrapper:focus {
        background-color: rgba(196, 248, 42, 1);
        outline: none; 
}

.text-wrapper {
    color: var(--white);
    text-decoration: none; 
    display: block; 
}

a:focus {
    outline: 3px solid var(--neon-green); 
}

@media (max-width: 600px) {
    .desktop {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 10px;
    }

    .card {
        display: flex;
        width: 100%; 
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .profile-pic {
        width: 50px; 
        height: 50px;
    }

    .div-wrapper {
        width: 100%; 
        margin: 8px auto;
        padding: 12px;
    }

    .links {
        margin-left: -18px;
    }

    .desktop .div-wrapper a {
        color: var(--white);
        transition: color 0.5s ease; 
    }

        .desktop .div-wrapper a:active {
            animation: holdColor 1s forwards; 
        }

    @keyframes holdColor {
        0%, 90% {
            color: rgba(196, 248, 42, 1);
        }
        100% {
            color: var(--white);
        }
    }

}
